.links-item__container{
    width: 33.333333%;
    height: 240px;
    float: left;
    margin-bottom: 20px;
}
.links-item{
    background: #e4fffe;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    transition-duration: 0.5s;
    transition-property: background;

}
.links-item__container:nth-child(3n-2) .links-item{
    float: left;
}
.links-item__container:nth-child(3n-1) .links-item{
    margin: auto;
}
.links-item__container:nth-child(3n) .links-item{
    float: right;
}
.links-item__title{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.links-item a{
    display: block;
    padding: 0 30px;
    height: 190px;
    text-align: center;
}
.links-item img{
    height: 100%;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}
.links-item:hover img{
    filter: grayscale(100%);
}
.links-item:hover{
    background: white;
}