@import "index.css";
@import "news.css";
@import "news_detail.css";
@import "tasks.css";
body {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    background: #fff url(../img/body.jpg) center top no-repeat;
}
html, button, input, select, textarea {
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #555;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a, a:link, a:visited {
    color: #27bbb6;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: inline-block;
    font-weight: 700;

}

p {
    margin: 0 0 10px 0;
    padding: 0;
}

img {
    border: none;
}

em {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: normal;
}

h1 {
    font-size: 34px;
    margin: 0 0 20px;
    padding: 5px 0
}

h2 {
    font-size: 28px;
    margin: 0 0 15px;
    padding: 5px 0;
}

h3 {
    font-size: 24px;
    margin: 0 0 15px;
    padding: 0;
}

h4 {
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
}

h6 {
    font-size: 14px;
    margin: 0 0 5px;
    padding: 0;
}

.cleaner {
    clear: both
}


#wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    background: url(../img/body.jpg) top center no-repeat
}

#header {
    width: 900px;
    padding: 30px 40px;
    background: url(../img/header.png) bottom center no-repeat
}

.header__logo {
    width: 70px;
    height: 70px;
}

#site_title {
    float: left;
}

#site_title h1 {
    margin: 0;
    padding: 0;
}

#site_title h1 a {
    display: block;
    width: 933px;
    height: 90px;
    color: #fff;
    text-indent: -10000px;
    line-height: 3;
    background: url(../img/header_title.png) bottom center no-repeat
}

#main {
    clear: both;
    background: white;
    width: 100%;
}

#main p {
    margin-bottom: 10px
}
#main__wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}

#main__wrapper:after{
    content: " ";
    clear: both;
    display: block;
}

#footer_wrapper {
    clear: both;
    width: 100%;
    background: #343434 url(../img/footer_wrapper.jpg) repeat-x top;
}

#footer {
    clear: both;
    width: 900px;
    padding: 130px 40px 30px;
    color: #ccc;
    text-align: center;
    margin: 0 auto;
    background: url(../img/footer.jpg) center top no-repeat;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

.cloud--top{
    width: 100%;
    height: 86px;
    background: url(../img/topClouds.png);
}

.children-title{
    color: #000066;
}

.children-menu{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(to top, white, #33e8e1);
    margin-bottom: 20px;
    padding-top: 20px;
}

.children-menu > li{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to top, white, rgba(60, 0, 175, 0.3));
    color: black;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    transition-duration: 1s;
    transition-property: background;
    position: relative;
}

.children-menu > li:hover .children-menu__child{
    opacity: 1;
    display: block;
}

.children-menu__child{
    transition-property: opacity;
    transition-duration: 1s;
}

.children-menu li:hover, .children-menu li.active{
    background: rgb(4, 206, 198);
}

.children-menu > li > a{
    display: block;
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
    color: inherit;
}

.children-menu__child{
    background: linear-gradient(to top,rgba(60, 0, 175, 0.3), white);
    position: absolute;
    padding-left: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    opacity: 0;
}
.children-menu__child > li{
    display: block;
    padding-left: 15px;
}

.children-menu__child > li a{
    line-height: 50px;
    display: block;
    color: black;
}

.children-menu__child > li:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.pagination{
    padding-top: 20px;
}

.pagination__item{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

a.pagination__item{
    text-decoration: none;
}

a.pagination__item:hover{
    background: #abf5f2;
}

span.pagination__item{
    background: #abf5f2;
}